@model IEnumerable<BartenderApp.Models.Drink>

@{
    ViewBag.Title = "DrinkQueue";
    Page.Title = "Conjure Poison";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Better Get Busy...</h4>

<table class="table">
    <tr>
        <th>
            <label>Poison to Prepare</label>
        </th>
        <th>
            <label>Ready or Not, Here They Come</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkName)
        </td>
        <td>
            @Html.ActionLink("I'm Waiting... PICK ME UP", "Remove")
        </td>
    </tr>
}

</table>
