
@{
    ViewBag.Title = "Let's Get Wasted";
    Page.Title = "Let's Get Wasted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>What would you like to do?</h3>

<p>@Html.ActionLink("Order Poison", "Menu", "Bartender")</p>
<p>@Html.ActionLink("Conjure Poison", "Orders", "Bartender")</p>

