
@{
    ViewBag.Title = "Let's Get Wasted";
    Page.Title = "Let's Get Wasted";
}

<h3>What would you like to do?</h3>

<p>@Html.ActionLink("Order a Drink", "Menu", "Bartender")</p>
<p>@Html.ActionLink("Make a Drink", "Orders", "Bartender")</p>

