@model IEnumerable<BartenderApp.Models.Drink>

@{
    ViewBag.Title = "Orders";
    Page.Title = "Conjure Poison";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Better Get Busy...</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DrinkName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.DrinkID })
        </td>
    </tr>
}

</table>
